name: Remote-AnyDesk
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install AnyDesk
        run: |
          Invoke-WebRequest -Uri "https://download.anydesk.com/AnyDesk.exe" -OutFile "AnyDesk.exe"
          Start-Process ./AnyDesk.exe -ArgumentList "--install `"${Env:ProgramFiles(x86)}\AnyDesk`" --start-with-win --silent" -Wait
          & "${Env:ProgramFiles(x86)}\AnyDesk\AnyDesk.exe" --set-password "123456"
      - name: Display ID
        run: |
          Start-Sleep -Seconds 15
          $ID = & "${Env:ProgramFiles(x86)}\AnyDesk\AnyDesk.exe" --get-id
          echo "==============================="
          echo "ANYDESK ID: $ID"
          echo "PASSWORD: 123456"
          echo "==============================="
      - name: Keep Alive
        run: Start-Sleep -Seconds 21600

