name: Windows-AnyDesk-Final
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: 1. Setup AnyDesk
      shell: powershell
      run: |
        Invoke-WebRequest -Uri "https://download.anydesk.com/AnyDesk.exe" -OutFile "AnyDesk.exe"
        ./AnyDesk.exe --set-password "123456"
        
    - name: 2. Show ID
      shell: powershell
      run: |
        Start-Process ./AnyDesk.exe
        Start-Sleep -Seconds 20
        $ID = ./AnyDesk.exe --get-id
        Write-Host "==============================="
        Write-Host "ID: $ID"
        Write-Host "PASS: 123456"
        Write-Host "==============================="

    - name: 3. Keep Alive
      shell: powershell
      run: Start-Sleep -Seconds 21600
