name: Windows-AnyDesk-English
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: 1. Download AnyDesk
      shell: powershell
      run: |
        Invoke-WebRequest -Uri "https://download.anydesk.com/AnyDesk.exe" -OutFile "AnyDesk.exe"
        # Set password to: 123456
        ./AnyDesk.exe --set-password "123456"
        
    - name: 2. Get AnyDesk ID
      shell: powershell
      run: |
        Start-Process ./AnyDesk.exe
        Start-Sleep -Seconds 20
        # Get ID and show it clearly
        $anydeskId = ./AnyDesk.exe --get-id
        Write-Host "------------------------------------------"
        Write-Host "YOUR ANYDESK ID IS: $anydeskId"
        Write-Host "YOUR PASSWORD IS: 123456"
        Write-Host "------------------------------------------"

    - name: 3. Keep Running
      shell: powershell
      run: Start-Sleep -Seconds 21600
